.templates {
    background: yellow;
}

.TemplatesPage-header {
    background: #e8ecf3;
    color: #667c99;
    padding: 20px 0;
}

*.TemplatesPage-list { 
    padding-top: 20px;
}


*.TemplatesList-results {
    white-space: nowrap;
    width: 100%;
}

.TemplatesList-results th {
    padding: 10px;
    text-align: left;
}

.TemplatesList-results thead th {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #667c99;
    min-width: 140px;
    border-bottom: 2px solid #e8ecf3;
}

.TemplatesList-Results .Templates-Actions {
    text-align: right;
}

.TemplatesList-results tbody tr td, .TemplatesList-results tbody tr th {
    border-top: 1px solid #e8ecf3;
}

.TemplatesList-results td, .TemplatesList-results th {
    padding: 10px;
    text-align: left;
}

*.TemplatesType-Select {
    padding: 3px;
    border: solid 2px transparent;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 8px;
    width: 100%;
    border-radius: 5px;
    height: 300px;
    font-size: 13px;
    transition: border-color .15s, background .15s;
    -webkit-appearance: none;
 

     
}

.subject-info-box-1,
.subject-info-box-2 {
    float: left;
    width: 100%;
    
    select {
        padding: 3px;
        border: solid 2px transparent;
        box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
        -moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 8px;
        width: 100%;
        border-radius: 5px;
        height: 300px;
        font-size: 13px;
        transition: border-color .15s, background .15s;
        -webkit-appearance: none;
        option {
            padding: 4px 10px 4px 10px;
        }
        option:hover {
            background: #ee99ee;
        }
    }
}
.subject-info-arrows {
    float: left;
    width: 10%;
    input {
        width: 70%;
        margin-bottom: 5px;
    }
}

#codebox {
  width: 100%;
  height: 40vw;
  display: inline-flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
}

#editHeader {
   font-size: 14px;
   padding:16px;
}

#editor { 
  position: relative;
  display: inline-block;
  width: 100%;
  //height: 50vw;
  }

*.TemplatesLeftCol {
    width: 20%;
  display: inline-block;

  .LeftCenter
  {
      padding-left: 50%;
  }
}

*.TemplatesRightCol {
    width: 80%;
  display: inline-block;
  
  .RightCenter
  {
      padding-left: 5px;
  }
}


.flat-table {
  margin-bottom: 20px;
  border-collapse: collapse;
  border: 2px transparent;
}

.flat-table th {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  padding: 1em;
  color: rgba(0,0,0,0.45);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  width: 20em;
  text-align: left;
}

.flat-table td {
  color: #00000085;
  padding: .7em 0.9em .7em 0.9em;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  font-size: inherit;
  cursor: pointer;
}

.flat-table tr {
  height: 10px;
  -webkit-transition: background .3s,box-shadow .3s;
  -moz-transition: background .3s,box-shadow .3s;
  transition: background .3s,box-shadow .3s;
}
.flat-table-1 {
  background: #4d698e0d;
  /* height: 30vw; */
}
.flat-table-1 tr:hover {
  background: rgba(0,0,0,0.19);
}
.flat-table-2 tr:hover {
  background: rgba(0,0,0,0.1);
}
.flat-table-2 {
  background: #f06060;
}
.flat-table-3 {
  background: #52be7f;
}
.flat-table-3 tr:hover {
  background: rgba(0,0,0,0.1);
}

.TemplateList {
  list-style: none;
  float: right;
  /* padding: 10px 0; */
  margin: 0;
  width: 15em;
  color: #667c99;
  font-size: 16px;
  /* padding: 2em; */
  padding-left: 1em;


    

  }
  .TemplateList-Item {
    padding: 5px 10px;
    border-radius: 4px;
  }

  .CreateTemplate-col {
    padding-left: 10px;
  }

  .Template-Toggle {
    float: right;
    margin-top: -120px;
  }

  
*.FullWidth {
    width: 100% ;
} 


*.Button--editsrc {
  color: #fff;
  background: #4d698e;
  width: 100px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

*.Button--templates {
  color: #fff;
  background: #4d698e;
  width: 100%;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

@color-text: #4D4D4D;
@color-border-controls: #CACAC9;
@color-text-link: #8CC0D6;
@color-text-light: #8C8C8C;
@color-red: #D6434D;
@color-orange: #e96657;
@color-red: #D6434D;
@color-red2: #dd5c64;
@color-blue: #3B5998;
@color-green: #40BE89;
@color-green-dark: #37979C;
@color-yellow: #FAD30F;
@color-teal: @color-green-dark;
@color-mint:#52c2ac;

@icon-add: '';
@icon-edit: '';


.icon(@icon) {
  content: @icon;
  font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  


.tag-input {
  padding: 0;
  border: 1px solid transparent;
  border-radius: 1rem;
  font-size: 0.75rem;
  outline: none;
  width: 0;
  transition: all 0.3s ease-out;
  &.active {
    padding: 0.3rem 1rem;
    width: auto;
    border: 1px solid @color-border-controls;
  }
}

.toggle {
    border: none;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: @color-text-link;
    color: #fff;
    position: relative;
    top: 4px;
    span {
      position: absolute;
      text-indent: -9999px;
    }
    transition: transform .6s ease;
  &:active {
    outline: none;
  }  
  
   /* &:hover {
      transform: scale(1.15);
    }*/
}

.add {
  &:extend(.toggle all);
  &:before {
      .icon(@icon-edit);
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      color: #fff;
      font-size: 0.8rem;
      line-height: 1.9;
      transition: all 0.2s ease;
    }
}
.cancel {
  &:extend(.toggle all);
  background-color: transparent;
   &:before {
      .icon(@icon-add);
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      color:  @color-red;
      font-size: 1.2rem;
      line-height: 1.5;
      transition: all 0.2s ease;
      transform: rotate(-45deg);
   }
}
.post-action-button {
  @color: @color-text;
  
  text-align: center;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid @color;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
   background: transparent;
   color: @color-text;
   border-color: @color-text-light;

  i {
    display: inline-block;
    margin-right: 7px;

    &.icon-only {
      margin-right: 0;
    }
  }
  &.secondary {
    
  }
  &:hover {
    font-weight: 600;
  }
}

.tag-add-submit {
  max-width: 0;
  padding: 0;
  opacity: 0;
  transition: all .2s ease;
  
  &.active {
    max-width: 400px;
    padding: 0.3rem 1rem;
    opacity: 1;
  }
}





.taglist {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

	&.edit {
		margin-top: 0.8rem;
	}

    li {
        display: inline-block;
        margin-right: 0.2rem;
    }
}
.tag {
    padding: 0.3rem 1rem;
    border: 1px solid @color-text-light;
    border-radius: 1rem;
    font-size: 0.75rem;
    color: @color-text-light;
    transition: all 0.3s ease;
    margin-bottom: 0.3rem;
    position: relative;
    &.selected {
        background: @color-text-light;
        color: #fff;
    }
    &.orange {
        border-color: @color-orange;
        color: @color-orange;
        &.selected {
            background: @color-orange;
            color: #fff;
        }
    }
    &.red {
        border-color: @color-red2;
        color: @color-red2;
        &.selected {
            background: @color-red2;
            color: #fff;
        }
    }
    &.teal {
        border-color: @color-teal;
        color: @color-teal;
        &.selected {
            background: @color-teal;
            color: #fff;
        }
    }
    &.mint {
        border-color: @color-mint;
        color: @color-mint;
        &.selected {
            background: @color-mint;
            color: #fff;
        }
    }
    .open & {
        cursor: pointer;
        &:hover {
            background: @color-text-light;
            color: #fff;
            &.orange {
                background: @color-orange;
                color: #fff;
            }
            &.red {
                background: @color-red2;
                color: #fff;
            }
            &.teal {
                background: @color-teal;
                color: #fff;
            }
            &.mint {
                background: @color-mint;
                color: #fff;
            }
        }
    }
    .edit & {
        padding-right: 1.5rem;
        cursor: pointer;
        &:after {
            .icon("");
            position: absolute;
            right: 8px;
        }
        &:hover {
            background: transparent;
            &.orange {
                color: @color-orange;
            }
            &.red {
                color: @color-red2;
            }
            &.teal {
                color: @color-teal;
            }
            &.mint {
                color: @color-mint;
            }
        }
    }
}


.tag-add {
    background: #d8d8d8;
    transition: all 0.3s ease;
    overflow: hidden;
    padding: 0 0.5rem;
    max-height: 0;
    .open & {
        padding: 0.5rem;
        max-height: 1000px;
    }
}
.tag-add-button {
    width: 100%;
    margin-top: 0.5rem;
}

.tag-indicator-list {
    list-style: none;
    padding: 0 0.5rem;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    li {
        display: inline-block;
        text-align: left;
    }
    .tag-indicator {
        text-indent: -9999px;
        width: 10px;
        height: 10px;
        padding: 0;
        margin: 0 0 0 4px;
    }
}

.tag-checkbox {
    input[type="checkbox"], input[type="radio"] {
        position: absolute;
        left: -9999px;
    }
    .tag {
        
         font-weight: 400;
    }

     :checked ~ label {
        animation-name: bubble;
        animation-duration: 300ms;
        background: @color-text-light;
        color: #fff;


        &.orange {
            
                background: @color-orange;
                color: #fff;
            
        }
        &.red {
            
                background: @color-red2;
                color: #fff;
            
        }
        &.teal {
            
                background: @color-teal;
                color: #fff;
            
        }
        &.mint {
           
                background: @color-mint;
                color: #fff;
            
        }
    }
    
    &.tag-checkbox--solo label {
        display: inline-block;
    }
}

.tag-tools {
  position: relative;
  
  .add {
    
    border: none;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: @color-text-link;
    color: #fff;
    position: relative;
    top: 4px;
    span {
      position: absolute;
      text-indent: -9999px;
    }
    transition: transform .3s ease;
    &:before {
      .icon(@icon-add);
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      color: #fff;
      font-size: 0.8rem;
      line-height: 1.9;
      transition: all 0.2s ease;

    }

    &:hover {
      transform: scale(1.15);

    }
  }
}

input.tag-add-input {
  &:extend(.tag all);
  height: auto;
  background: transparent;
  min-width: 0;
  width: auto;
}

.tt-suggestion {
  &:extend(.tag all);
  margin-top: 0.3rem;
  display: inline-block;
  margin-right: 0.3rem;
}
.tt-menu.tt-open {
  background: #fff;
  padding: 0 3px 3px;
  margin-top: 3px;
}











// NEW TEMPLATE PAGE


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  margin-top: 20px;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.grid > article img {
  max-width: 100%;
}

.grid > article i {
  font-size: 48px;
  line-height: 70px;
  height: 80px;
  width: 80px;
  border: 6px solid white;
  border-radius: 50%;
  background-color: #506b90;
  text-align: center;
  color: white;
  margin-top: -36px;
}

.grid .text {
  padding: 16px 20px 30px;
}

.grid .btn {
  margin-top: 20px;
}
