
 
// above needs cleaned
// starting discussion list item css

*.ui-segment:first-child {
  margin-top: 0;
}
*.ui-segment, .ui.segments .segment {
  font-size: 1rem;
}
*.ui-segment {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  margin: 1rem 0;
  padding: 1em 1em;
  border-radius: .28571429rem;
  border: 1px solid rgba(34,36,38,.15);
}



.Repository-container {
  @media screen and (min-width: 1000px) {
    min-width: 650px;
  }
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
}

.ui.tiny.image, .ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg {
  width: 80px;
  height: auto;
  font-size: .85714286rem;
}
img.ui.image {
  display: block;
}
.ui.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;
}

// is this needed ?
img {
  border-style: none;
}

.Stats-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 50px;
  margin: 0 20px;
}

.Stats-star {
  color: gold;
}

i.icon.star:before {
  content: "\f005";
}
i.icon:before {
  background: 0 0!important;
}

i.icon.fork:before {
  content: "\f126";
}

.Stats-issue {
  color: grey;
}

i.icon.exclamation.circle:before {
  content: "\f06a";
}

.Description-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.Description-link {
  font-size: 1.2rem;
  font-weight: 700;
}

.Description-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 460px;
  overflow: hidden;
}

.Description-container>.Labels-container {
  -webkit-flex-direction: row;
  flex-direction: row;
}
.Labels-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

